<div class="banner">
<!--首页焦点图调用开始-->
<tbody style="text-align:center">
<DIV id=imgPlay>
<UL class=imgs id=actor>
 {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
                    {loop $data $r}

  <LI><A href="{$r['url']}" target=_blank><IMG title={str_cut($r['title'],30)} src="{thumb($r['thumb'],958,302)}"></A><DIV class=btn><A title=立即查看 href="{$r['url']}" target=_blank>立即查看</A></DIV></LI>
         {/loop}
            {/pc}
</UL>
<DIV class=num>
<P class=lc></P>
<P class=mc></P>
<P class=rc></P></DIV>
<DIV class=num id=numInner></DIV>
<DIV class=prev>上一张</DIV>
<DIV class=next>下一张</DIV></DIV>
</tbody>
<!--首页焦点图调用结束-->

</div>