{template "content","header"}
<div class="banner2">
<!--内容页广告开始-->
<!--内容页广告结束-->
</div>

</div>
<div class="zy">
<div class="zy_left">
<div class="zy_fl">
<div class="zy_fl_top">{$CAT[catname]}<span>RODUCT CATEGORY</span></div>
<div class="zy_fl_list">
<ul>
{pc:content action="category" catid="$catid" num="10" siteid="$siteid" }
                        {loop $data $r}
<li><a href="{$r[url]}">{$r[catname]} </a></li>
{/loop}
{/pc}
</ul>
</div>
</div>
<div class="zy_icon01"><a href="http://wpa.qq.com/msgrd?v=3&uin=724296815&site=qq&menu=yes"><img src="{IMG_PATH}icon01.jpg" border="0"  /></a></div>
<div class="zy_icon01"><img src="{IMG_PATH}icon02.jpg" /></div>
<div class="zy_icon01"><a href="/liuyan/"><img src="{IMG_PATH}icon03.jpg" border="0" /></a></div>


</div>
<div class="zy_right">
<div class="zy_right01">
<div class="zy_right_top"><div class="zy_right_top_left"><table width="100%" border="0" cellpadding="0"  cellspacing="0" align="center">
  <tr>
    <td  align="center" height="30"><span>NEWS</span></td>
  </tr>
  <tr>
    <td align="center">{$CAT[catname]}</td>
  </tr>
</table>
</div>       
<div class="zy_right_top_right">您当前的位置:<a style=" color:#333; text-decoration:none;" href="{siteurl($siteid)}">首页</a> > <a  style=" color:#333; text-decoration:none;" href="{siteurl($siteid)}">{catpos($catid)}</a> > 正文</div>
</div>
<div class="about-mid">
         <div class="about-new">
       <ul class="classnews">
       <!--列表页内容调用开始-->
       {pc:content action="lists" catid="$catid" num="15" order="id DESC" page="$page"}
       {loop $data $r}
<li style="width: 95%;"><span>{date('Y-m-d',$r[inputtime])}</span><a href="{$r[url]}"  title="{$r[title]}">{$r[title]}</a></li>
{/loop}
</ul>
	     <p style="margin:0 auto; padding:0;text-align:center;font-size:14px; color:#636363; margin-top:20px; font-weight:bold;">	
	  <a class="page" href=""><strong>{$pages}</strong></a>  
{/pc}
<!--列表页内容调用结束-->
    </div></div>

<div class="zy_fy"></div>
</div>
<div class="zy_right_foot"><img src="{IMG_PATH}zy_right_foot.jpg" /></div>
</div>
</div>
{template "content","footer"}